
:root {
  --PBL90: #352A32;
  --PBL80: #452F3F;
  --PBL70: #56344C;
  --PBL60: #663959;
  --PBL50: #763E66;
  --PBL40: #874374;
  --PBL30: #974880;
  --PBL20: #A74D8E;
  --PBL10: #B7539B;
  --P100: #C857A8;
  --PW10: #CB66AF;
  --PW20: #CF75B6;
  --PW30: #D384BD;
  --PW40: #D793C4;
  --PW50: #DBA2CB;
  --PW60: #DEB2D2;
  --PW70: #E2C1D9;
  --PW80: #E6D0E0;
  --PW90: #EADFE7;

  --BBL90: #040913;
  --BBL80: #081325;
  --BBL70: #0B1C38;
  --BBL60: #0F264B;
  --BBL50: #132F5D;
  --BBL40: #173870;
  --BBL30: #1B4283;
  --BBL20: #1E4B96;
  --BBL10: #2255A8;
  --B100: #265EBB;
  --BW10: #3C6EC2;
  --BW20: #517EC9;
  --BW30: #678ECF;
  --BW40: #7D9ED6;
  --BW50: #92AEDD;
  --BW60: #A8BFE4;
  --BW70: #BECFEB;
  --BW80: #D4DFF1;
  --BW90: #E9EFF8;
}