* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--BBL90);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 80px;
}

header {
  width: 100%;
  height: 15vh;
  background-color: var(--BBL90);
  border-bottom: 3px solid var(--BBL80);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  height: 15vh;
  width: 15vh;
  padding: 15px;
  margin-right: auto;
}
header nav {
  font-size: 1.25rem;
  font-weight: lighter;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}

nav a {
  text-decoration: none;
  color: var(--PW90);
}

.active {
  color: var(--P100);
}

nav a:hover {
  color: var(--PW20);
  text-decoration: underline;
}

main {
  background: var(--BBL90);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .bio {
  width: 70vw;
  background-color: var(--BW40);
  padding: 5vh;
  border-radius: 10px;
  box-shadow: var(--P100);
}

.imgcrop {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 5vh;
}
.imgcrop img {
  display: inline;
  margin: auto -25px auto;
  height: 100%;
  width: auto;
}

.bio h1 {
  line-height: 1.4;
  color: var(--PBL30);
}

.bio p {
  line-height: 1.2;
  color: var(--PBL90);
  margin-top: 10px;
}

footer{
  height: 10vh;
  background: var(--BBL90);
  border-top: 3px solid var(--BBL80);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

.social, .copy, .contact {
  flex-grow: 1;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copy p, .contact p, i {
  text-align: center;
  color: var(--BBL50);
}