/* ====================================
    RESETS AND DEFAULT STYLES
   ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, main, footer, body {
  background-color: var(--BBL90);
}

/* 
HEADER
 */

header {
  border-bottom: 3px solid var(--BBL80);
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--PW90);
}

.active {
  color: var(--P100);
}

nav a:hover {
  color: var(--PW20);
  text-decoration: underline;
}
header nav ul li {
  display: inline-block;
  list-style: none;
  /* padding-right: 15px; */
}

/* 
MAIN
 */

/* 
FOOTER
 */

footer {
  border-top: 3px solid var(--BBL80);
  display: flex;
}

.copy p, .contact p, i {
  text-align: center;
  color: var(--BBL50);
}

/* ====================================
    MOBILE FIRST SIZE AND POSITION
   ==================================== */
body {
  width: 90vw;
  margin: auto;
}

header {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 
HEADER SPECIFIC
 */

header .logo {
  margin: 3vw auto;
  height: 10vh;
  width: auto;
}

nav ul{
  max-width: 100vw;
  font-size: 1.5rem;
  margin: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  margin: .25rem 1rem;
}

/* 
MAIN HOME PAGE
 */
 .home {
  display:flex;
  justify-content: center;
  margin: 3vw auto;
}

.bio {
  width: 80vw;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr minmax(120px, 3fr) auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "emptyB emptyB"
  "KL greeting"
  "bio bio"
  "emptyP emptyP";
}

.kirbyimg {
  grid-area: KL;
  height: 100%;
  width: auto;
  position: relative;
  overflow: hidden;
  background-image: url("img/kirby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.greeting {
  grid-area: greeting;
  background-color: var(--P100);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.greeting {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--BBL90);
  padding: .5rem;
}

.bio p {
  grid-area: bio;
  line-height: 1.25;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--BBL90);
  background-color: var(--B100);
  padding: 1rem;
}

.emptyP, .emptyB {
  width: 100%;
  height: 100%; 
}
.emptyB {
  grid-area: emptyB;
  background-color: var(--B100);
}

.emptyP {
  grid-area: emptyP;
  background-color: var(--P100);
} 

/* 
MAIN SKILLSECTION
*/

.skillsection {
  width: 90vw;
  margin: 3vw auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: stretch;
}

.skill {
  background-color: var(--BW20);
  margin: 1rem;
  padding: .75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.skillhead {
  margin-bottom: 1rem;
  flex-grow: 1;
  min-height: 0;
}
.skillhead h1 {
  color: var(--PBL30);
  margin-bottom: .75rem;
}

.skillhead p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--BBL90);
}

.skilllist {
  flex-grow: 1;
  margin: 1rem 0;
}

.skilllist h2{
  margin-bottom: .5rem;
  color: var(--BBL90);
}

.skilllist ul {
  margin-left: 2rem;
  color: var(--BBL90);
  line-height: 1.5;;
}


/* 
FOOTER
*/
footer {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer p {
  margin: 1.5rem;
}

footer .social a {
  margin: 0 2rem;
}

/* ====================================
    MEDIA QUERIES
   ==================================== */

@media screen and (min-width: 1025px) {
  body {
    width: 80vw;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header .logo {
    margin: 0;
  }

  header nav ul {
    margin-right: 0;
    font-weight: lighter;
  }

  main {
    width: 80%;
  }

  .bio {
    grid-template-columns: 1fr 2fr 4fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    "emptyB KL greeting"
    "emptyB KL bio"
    "emptyB emptyP bio";
  }

  /* Skills Page */
  .skillsection {
    width: 70vw;
    margin: 3vw auto;
  }
  .skill {
    min-width: 300px;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 2rem;
  }

  .skillhead {
    height: 30%;
  }

  footer {
    justify-content: space-around;
  }
} 

/* Experience Page */
.experience {
  width: 70vw;
  height: 90vh;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.timelinewrap {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 10px 1fr;
  grid-template-areas:
  "msu . wow . p3d ."
  "line line line line line line"
  ". giles . hk . dev";
}

.exptag {
  background-color: var(--BBL50);
  margin: 1rem;
  flex-grow: 1;
}

.exptag h1 {
  font-size: 1.4rem;
}

.msu {
  grid-area: msu;
}
.giles {
  grid-area: giles;
}
.wow {
  grid-area: wow;
}
.hk {
  grid-area: hk;
}
.p3d {
  grid-area: p3d;
}

.dev {
  grid-area: dev;
}

.line {
  grid-area: line;
  background-color: var(--PW20);
}

.featuredworks {
  margin-top: 5rem;
}

